<form method="post" action="/users/cpanel/reset-password" >
    <label for="password">New Password</label>
    <input type="password" name="password" id="password">
    <input type="hidden" name="token" value="{{token}}">
    <label for="password-confirmation">Confirm Password</label>
    <input type="password" name="password_confirmation" id="password-confirmation">
    <button type="submit">Reset Password</button>
</form>